BODY { background: url(../img/detail_bg.jpg) no-repeat; background-color: #606A6C; color: white; font-family: Arial CE, Helvetica CE, Arial, Helvetica, sans-serif; font-size: 12px; margin: 10px 0px 10px 10px; }
.img { margin: 0px 15px 0px 0px; border: 0px; background: black; }
H1 { font-size: 18pt; padding: 0px; margin: 0px 0px 3px 0px; border-top: 1px solid #aaa; border-bottom: 1px solid #aaa; background: #666; }
H2 { font-size: 11pt; padding: 0px; margin: 0px 0px 4px 0px; }
.co { white-space: nowrap; color: #eee; font-size: 11px; padding-right: 15px; }
.kdo { white-space: nowrap; color: #eee; font-size: 11px; }
.synopse { padding-left: 15px; padding-right: 5px; vertical-align: top; font-style: italic; }
.video { border: 0px; vertical-align: middle; margin-right: 8px; }
.links { font-size: 11px; color: #ccc;}
A,A:visited { font-size: 12px; color: #ffa; text-decoration: underline; font-weight: bold; }
A:hover { color: yellow; text-decoration: underline; }

