td.tdImg { width:150px; height:150px;}
body{background-color:#eee;}
#divWG {text-align:center; font: 11px Verdana, Arial, Helvetica, sans-serif;}
#divWG img, #divWG table {border:none;}
#divWG a:link, #divWG a:visited {text-decoration:none;}
#divWG a:hover {color:red;text-decoration:underline;}
#tblThumbsLayout {text-align:left; margin: 0 auto;}
#tblGalleryName{margin-top:2px;}
#currentGalleryLocation {font-weight:bold;}
td#galleryNameCell {font-size: 18px; font-weight:bold; color:#606060; margin: 6px 6px 0 0;}
td#pagingCell {text-align:right; white-space:nowrap;}
.currentPage {font-weight: bold;}
td#pagingCell a, .currentPage {font-size: 12px; padding: 3px 5px; border:1px solid #ccc;vertical-align:middle; }
td#pagingCell a:hover, .currentPage {border: #666 1px solid; background-color:#fff; text-decoration:none;}
td.tdImg {  color:#111111; text-align:center; background-color:#111111; vertical-align:middle;}
td.tdImg img {margin-top:11px;}
#pnCell {text-align:right;}
a.pn, a.pn:LINK,a.pn:VISITED {color: #606060; font: 9px arial, helvetica, sans-serif; text-decoration: none; padding: 1px 4px;}
