html{
  background:black;
}
body {
	margin: 10px 0px 10px 0px;
	padding: 0px;
	text-align: center;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ddd;
	line-height: 1.4em;
	background: #000;
}

a:link, a:visited {
	color: #fff;
	text-decoration: underline;
	border: 0px;
}
a:active, a:hover {
	color: #aaa;
	text-decoration: none;
	border: 0px;
}

img, #basepic img, .noid {
	border: 0px;
	margin: 0px;
	padding: 0px;
	text-indent: 0px;
}

/* globalni nastaveni (vyse) */

/* duse a telo dokumentu */

#soul {
	width: 100%;
	background: url("wi.bmp") repeat-x #000;
	border: 0px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#body {
	width: 778px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid #4272b7;
	border-top: 0px;
	text-align: justify;
}

#head img {
	float: left;
	padding: 0px;
	margin: 0px 0px 0px 40px;
}

/* hlavicka */

#head {
	margin: 0px;
	padding: 0px;
	text-align: center;
	height: 206px;
	background: url("head.png") no-repeat transparent;
}

/* menu + podcasti + aktivni prvek */

#hmenu {
	color: #444;
	padding: 0px 0px 0px 0px; /* FF 140 */
	margin: 0px;
}

.menu {
	float: left;
	padding: 5px 0px 5px 0px;
	margin: 155px 5px 5px 5px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	height: 30px;
}

.menuact {
	border-bottom: 5px solid #305487;
	color: #fff;
	padding: 5px 5px 5px 5px;
	height: 17px;
}

.menu a:link, .menu a:visited {
	color: #ccc;
	text-decoration: none;
	border-bottom: 5px solid #b8bdc4;
	padding: 5px;
}

.menu a:visited {
	color: #dfdfdf;
	border-bottom: 5px solid #ddd;
}
.menu a:active, .menu a:hover {
	color: #fff;
	text-decoration: none;
	border-bottom: 5px solid #305487;
	padding: 5px;
}

/* telo textove casti dokumentu */

#left {
	float: left;
	width: 180px;
	margin: 0px;
	padding: 10px 0px 20px 10px;
	color: #777;
	font-size: 11px;
	text-align: left;
}

#text {
	float: left;
	width: 563px;
	margin: 2px 5px 15px 5px; /* FF -10 5 15 5 */
	padding: 10px 5px 10px 0px;
	text-indent: 30px;
}

.border1, .border2 {
	padding: 5px 10px 20px 20px;
	margin: 0px 0px 0px 10px;
	text-align: left;
	background-color: #111;
	line-height: 1.3em;
	text-indent: 0px;
}
.border2 {
	background-color: #222;
}
.border1 object, .border2 object{
  position:relative;
  left:-18px;
  margin:10px 0 0 0;
}
.ie {
	text-indent: 20px;
}

#clear {clear: both;} /* zakonceni plovoucich objektu */

/* paticka a jeji tri podcasti */

#base { 
	border-top: 3px solid #4272b7;
	padding: 20px 25px 5px 5px;
	margin: 0px 0px 0px 0px;
	color: #ccc;
	letter-spacing: 0px;
	font-size: 11px;
	text-align: center;
	height: 60px;
	line-height: 120%;
	background: url("w3.jpg") bottom repeat-x;
}
	
#base a:link, #base a:visited { color: #888; text-decoration: underline;}
#base a:active, #base a:hover { color: #fff; text-decoration: none;}

#base img {
	float: right;
	padding: 0px;
	margin: -10px 0px 0px 0px;
}

/* plovouci obrazky jako doplnek textu + stylovani obrazku */

#text .gal img {
	margin: 5px 5px 5px 5px;
	padding: 2px;
	border-top: 1px solid #444;
	border-right: 1px solid #333;
	border-bottom: 1px solid #444;
	border-left: 1px solid #333;
	background: #333;
	text-indent: 0px;
}

#text .border1 img, #text .border2 img {
	margin: 5px 0px 5px 10px;
	padding: 2px;
	float: right;
	border-top: 1px solid #444;
	border-right: 1px solid #333;
	border-bottom: 1px solid #444;
	border-left: 1px solid #333;
	background: #333;
}

.gal {
	margin: 10px;
	padding: 0px;
	width: 543px;
	text-indent: 0px;
}

/* tabulky, odrazky */

table {
	text-align: center;
	padding: 0px;
	margin: 0px 0px 0px 15px;
	color: #888;
}

tr, td {
	padding: 0px 0px 2px 0px;
	margin: 0px;
	border-bottom: 1px solid #222;
}

#text li, #text ul, #text ol {
	padding-left: 0px;
	text-indent: 0px;
	margin-left: 20px;
	list-style-image: url("odr2.bmp");
}

/* nadpisy */

h1 {
	font-size: 15px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #4272b7;
	margin: 10px 5px 2px 9px;
	letter-spacing: 0px;
}

h2, h3 {
	font-size: 13px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-left: 10px solid #aaa;
	border-right: 5px solid #777;
	background-color: #333;
	margin: 5px 0px 15px 10px;
	color: #fff;
	padding: 2px 0px 2px 20px;
	width: 60%;
	letter-spacing: 1px;
	text-indent: 0px;
}

h3 {
	border-left: 10px solid #333;
	border-right: 5px solid #888;
	background-color: #111;
	color: #fff;
	padding-left: 25px;
	margin: 5px 10px 5px -10px;
}

/* odstavce, doformatovani textu */

p {
	padding: 0px 0px 0px 10px;
	margin: 5px 0px 5px 0px;
}

em {
	color: #fff;
}

strong {color: #fffffe;}
cite { color: #888; font-style: normal;}

/* velke leve podmenu */

.navcontainer { /* global */
	padding: 0px;
	margin: 0px;
	color: #222;
	background-color: #eee;
}

.navcontainer ul { /* kontejner */
	list-style: none;
	margin: 0px;
	padding: 0px;
	border: none;
}

.navcontainer li { /* odrazka */
	border-bottom: 1px solid #222;
	margin: 0px;
	padding: 0px;
}

.navcontainer li a, .sublist li a, .navcontainer li a:visited, .sublist li a:visited { /* odkaz odrazky menu a podmenu */
	display: block;
	padding: 2px 5px 2px 10px;
	border-left: 10px solid #111;
	border-right: 5px solid #050505;
	background-color: #000;
	color: #eee;
	text-decoration: none;
	font-size: 11px;
}

.navcontainer li a:hover, a#act, .sublist li a:hover { /* hover odkaz menu a podmenu, zvyrazneny prvek menu */
	border-left: 10px solid #fff;
	border-right: 5px solid #aaa;
	background-color: #222;
	color: #999;
	padding: 2px 5px 2px 10px;
}

a#act, a#act:hover, a#act:visited { /* zvyrazneny prvek menu */
	font-weight: bold;
	border-left: 10px solid #2c4b79;
	border-right: 5px solid #ccc;
	background-color: #4272b7;
	margin: 0px;
	color: #fff;
}

a#other, a#other:hover, a#other:visited, a#other2, a#other2:hover, a#other2:visited { /* jinak zvyrazneny prvek menu */
	color: #4272b7;
	border-right: 5px solid #333;
	border-left: 10px solid #555;
	background: #111;
}

.sublist li { /* odrazka podmenu */
	border-top: 1px solid #fff;
	border-bottom: -13px solid #fff;
	margin: 0px;
}

.sublist li a, .sublist li a:visited { /* odkaz odrazky podmenu */ 
	border-left: 10px solid #ccc;
	padding: 2px 5px 2px 20px;
	margin: 0px;
}

.sublist li a:hover { /* hover odkaz podmenu */
	padding: 2px 5px 2px 20px;
	margin: 0px;
	background: #e3e3e3;
}

.sublist a#other:hover { /* jinak zvyrazneny prvek podmenu */
	background: url("odr2.bmp") 10px 7px no-repeat #e3e3e3;
	color: #000;
}

a#subact, a#subact:hover, a#subact:visited { /* zvyraznene podmenu */
	font-weight: bold;
	border-left: 10px solid #c21616;
	border-right: 5px solid #e95426;
	background-color: #fdfdfd;
	padding: 2px 5px 2px 20px;
}

a#act:hover, a#other:hover, a#other2:hover, a#subact:hover, .sublist li a:hover { /* doplnky zvyrazneni */
	border-left: 10px solid #fff;
	background: #666;
	color: #fff;
}

.fotogalerie{
  width:540px;
  float:right;
  margin:20px 0 50px 0;
}
.fotogalerie a{margin:0; padding:15px 0; float:left; width:170px; height:100px; margin:2px; border:1px solid rgb(100,100,100);  background:rgb(20,20,20); text-align:center;}
.fotogalerie a:hover{border:1px solid rgb(100,100,100);}
.fotogalerie a img{margin:0; height:100px; float:none; }
