@charset "utf-8";
/* CSS Document */

body {
  background:url(02.png);
  color:#ccc;
}

a, a:active {
  color:#7af;
}

a:hover {
  text-decoration:none;
}

header a, div#header a {
  color:#ccc;
}

h1, h2, h3, h4, h5, h6 {
  text-shadow:0 0 .4em #3577aa;
}

#fffi a, #fffi_ie a{
  color:#fff;
  text-decoration:none;
  text-shadow:0em 0em .7em #3577aa;
}

#kdykde {
  border-right: 3px solid #fff;
  text-shadow:0 0 1.5em #3577aa;    
}

#kdykde, #kdykde a {
  color:#fff;
  text-decoration: none;
}
#events{
  list-style:none;
}

#menu a , #cta a{
  background-color: #1f272f;
  color:#ddd;
  border-radius: .2em;
  box-shadow: 0 0 1.5em #202830;
  text-decoration:none;
}

#menu a:hover, #cta a:hover {
  background-color: #4c6881;
  box-shadow: 0 0 1.0em #4c6882;
}

section:after {
  content:attr(data-added);
  color:#4c6882;
}

div.foto {
  background-color: #1f272f;
  color:#ddd;
  border-radius: .2em;
  box-shadow: 0 0 1.5em #202830;
}

div.foto a img {
  border:1px solid #2c3d4d;
}

div.foto a:hover img {
  border:1px solid #4c6882;
}

footer, div#footer {
  color:#999;
}

ol{
  list-style-type: lower-alpha;
}

a.title{
  color: #CCCCCC;
}

ul.partner{
  list-style: none;
}

ul.partner li div span.meno{
  font-weight: bold;
}

ul.partner li{
  background-color: #1f272f;
  border-color: #1f272f;
  border-style: solid;
  border-width: 0.5em;
  color:#ddd;
  border-radius: .2em;
  box-shadow: 0 0 1.5em #202830;
}

div.snimek ul{
  list-style: none;
}

div.snimek li span{
  font-weight: bold;
}

ul.program, ul.program ul{
  list-style: none;
}

ul.program li{
  font-weight: bold;
}

ul.program ul li{
  font-weight: normal;
}

ul.program span{
  font-weight: normal;
}

div.snimek p span{
    padding-left: 1em;
}

@media (max-width: 675px){
  #kdykde{
    border-style: none;
  }
}

/* ========== NOVE FONTY =========== */

@font-face
{
  font-family: Comenia_Medium;
  src: url('webfonts/Comenia%20Sans%20Med.otf');
}

@font-face
{
  font-family: Comenia_Regular;
  src: url('webfonts/Comenia%20Sans.otf');
}

@font-face
{
  font-family: Comenia_Medium_It;
  src: url('webfonts/Comenia%20Sans%20Med%20It.otf');
}

@font-face
{
  font-family: Comenia_Bold;
  src: url('webfonts/Comenia%20Sans%20Bold.otf');
}

/* ========== NOVA GRAFIKA =========== */

body{
  background-image: none;
  background-color: #141414;
  color: #fbfbfb;
  font-family: Comenia_Regular;
  font-size: 105%;
}

h1, h2, h3, h4, h5, h6 {
  text-shadow: none;
  color: #e23a28;
  font-family: Comenia_Medium;
  font-size: 230%;
}

a, a:active {
  color: #e23a28;
}

section:after {
  color: #e23a28;
}

#menu a, #cta a {
  background-color: #e23a28;
  border-radius: 0;
  box-shadow: none;
  color: #141414;
  text-align: center;
  font-family: Comenia_Medium_It;
  text-transform: uppercase;
  font-size: 127%;
}

#menu a:hover, #cta a:hover {
  background-color: #e23a28;
  box-shadow: none;
  color: #fbfbfb;
}

#menu a#current{
  color: #fbfbfb;
}

header{
  background-image: url('hlavicka.jpg');
  background-size:100% 100%;
  height: 260px;
  background-repeat: no-repeat;
}

div#header{
  height: 260px;
}

#lemma {
  padding-top: 0.2em;
  padding-left: 0.2em;
  height: 1.5em;
  line-height: 1.1em;
  color: #141414;
  position: absolute;
  top:0;
  font-size: 85%;
  font-family: Comenia_Medium_It;
}

header a, div#header a {
  color: #141414;
}

h1#fffi, div#fffi {
  transform: rotate(-9deg);
  -ms-transform: rotate(-9deg);
  -webkit-transform: rotate(-9deg);
  -o-transform: rotate(-9deg);
  -moz-transform: rotate(-9deg);
  font-size: 65%;
  margin-top: 0;
  top: -2.5em;
  line-height: 2.7em;
}

#fffi_ie{
  padding-left: 1em;
  padding-top: 2em;
  font-size: 95%;
  color: #e23a28;
}

#fffi_ie a{
  color: #e23a28;
  display: block;
}

#fffi_ie a span#filmovy, #fffi_ie a span#fakulty{
  color: #fbfbfb;
}

#fffi a{
  text-shadow: none;
  color: #141414;
  font-family: Comenia_Medium_It;
  text-transform: uppercase;
}

#fffi a span#rocnik, #fffi_ie a span#rocnik{
  color: #e23a28;
  display: inline;
}

#fffi a span#filmovy{
  margin-left: 1em;
}

#fffi a span#festival{
  display: block;
  margin-left: 6em;
}

#fffi a span#fakulty{
  margin-left: 9.8em;
  display: block;
}

#fffi a span#informatiky{
  margin-left: 13.7em;
  display: block;
}

header div#tema, div#header div#tema{
  display: block;
  position: absolute;
  bottom: 2em;
  left: 2em;
  padding: 0.2em;
  color: #fbfbfb;
  font-family: Comenia_Regular;
  text-transform: uppercase;
  font-size: 125%;
}

#kdykde {
  top:5.5em;
  right:-2em;
  text-align: left;
  width: 11em;
  border-style: none;
  text-shadow: none;
  text-transform: uppercase;
  font-size: 115%;
  padding-right: 0.2em;
  padding-left: 0.2em;
  color: #fbfbfb;
}

#kdykde a{
  color: #fbfbfb;
}

#kdykde span#kde a{
  font-family: Comenia_Medium;
  color: #fbfbfb;
}

#kdykde #kdy, #kdykde #zac{
  color: #e23a28;
}

#kdykde #kdy, #kdykde #otv, #kdykde #pro{
  line-height: 0.9em;
}

#kdykde #otv, #kdykde #pro{
  font-family: Comenia_Medium;
  font-size: 115%;
}

#kdykde #zac{
  padding-top: 0.3em;
}

#kdykde #zac, #kdykde #kdy{
  font-family: Comenia_Bold;
}

#kdykde.ie{
  top:1em;
  right:0;
  font-size: 115%;
  padding-right: 0.2em;
  padding-left: 0.2em;
  color: #fbfbfb;
}

div.foto {
  background-color: inherit;
  border-radius: 0;
  box-shadow: none;
  padding: 1em 0.2em 0.7em 0.2em;
}

div.foto a img {
  border: 1px solid #e23a28;
}

div.foto a:hover img {
  border: 1px solid #fbfbfb;
}

ul.partner li {
  background-color: inherit;
  border-radius: 0;
  border-style: none;
  border-width: 0.2em;
  box-shadow: none;
  color: #fbfbfb;
  margin-bottom: 2em;
}

ul.partner li div span.meno {
  font-family: Comenia_Medium;
  font-size: 115%;
  color: #e23a28;
}

#events {
  top:16.8em;
  left:0;
}

#events #fb{
  width:40px;
  height:40px;
  background-image: url('buttons/facebook2.jpg');
}

div#cont {
  padding-right: 1em;
}

div.ann{
  border: 2px solid #fbfbfb;
  font-size: 180%;
  margin: 3em 0 3em 0;
  padding: 0.3em;
  text-align: center;
  color: #e23a28;
  text-transform: uppercase;
  font-family: Comenia_Regular;
}

div.building{
  float: right;
  padding-top: 5em;
  position: absolute;
  top:0;
  right: 0;
}

div.miesto{
  margin-right: 20em;
  padding-bottom: 2em;
}

div.snimek_foto img{
  border-color: #e23a28;
}

.program a{
    color: #fbfbfb;
    text-decoration: none;
}

.program a:hover{
    font-weight: bolder;
}

.sutazne a, .sutazne{
  color: #e23a28;
}

ul.program ul.sutazne span{
  color: #fbfbfb;
}

h4{
    font-size: 120%;
}

.porota ul{
    margin: 0;
}

.porota h4{
    margin-top: 1em;
    margin-bottom: 0.5em;
}

section ol{
    max-width: 23em;
    padding-left: 3em;
    list-style-type: decimal;
}

section ol span{
    float: right;
    margin: 0;
}

@media (max-width: 1075px){
  header{
    font-size: 90%;
    background-image: url('hlavicka_800.jpg');
    background-size:100% 100%;
    background-repeat: no-repeat;
    height: 250px;
  }

  body{
    font-size: 97%;
  }

  #events fb{
    width:37px;
    height:37px;
  }

  #events {
    top: 19.8em;
  }

  #kdykde{
    top: 6em;
    right: -1.7em;
    padding-right: 0;
  }

  header div#tema, div#header div#tema{
    bottom: 3em;
  }

  #menu a, #cta a {
    font-size: 125%;
  }

  div.foto img{
    width: 500px;
  }
}

@media (max-width: 900px){
  header{
    background-image: url('hlavicka_600.jpg');
    height: 200px;
  }

  #kdykde{
    top:0.5em;
    width: 9em;
    padding:.8em 0.5em 1.2em 1.5em;
  }

  #lemma {
    padding-top: 0.3em;
    color: #FBFBFB;
    font-size: 90%;
  }

  header a, div#header a {
    color: #FBFBFB;
  }

  h1#fffi, div#fffi {
    transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    -o-transform: none;
    -moz-transform: none;
    font-size: 70%;
    margin-top: 0;
    top: 0em;
    line-height: normal;
    padding-top: 3em;
    padding-right: 4em;
    padding-left: 3em;
  }

  #fffi a{
    color: #FBFBFB;
  }

  #fffi a span#rocnik{
    color: #141414;
  }

  #fffi a span#filmovy{
    margin-left: 0em;
  }

  #fffi a span#festival{
    margin-left: 3em;
  }

  #fffi a span#fakulty{
    margin-left: 6em;
  }

  #fffi a span#informatiky{
    margin-left: 8.7em;
  }

  header div#tema{
    left: 0.2em;
    color: #141414;
    font-size: 135%;
    bottom: 2.5em;
  }

  #events {
    top: 11em;
  }

  #menu a {
    width: 10em;
  }

  #menu a, #cta a {
    font-size: 125%;
  }
}

@media (max-width: 675px){
  header{
    background-image: none;
    height: 250px;
  }

  #lemma {
    font-size: 80%;
  }

  h1#fffi, div#fffi {
    line-height: 3.2em;
    padding: 0;
    top: 2.5em;
    font-size: 82%;
  }

  #fffi a span#rocnik{
    color: #E23A28;
  }

  #fffi a span#filmovy{
    margin-left: 0em;
    display: inline;
  }

  #fffi a span#festival{
    margin-left: 0em;
    display: inline;
  }

  #fffi a span#fakulty{
    margin-left: 0em;
    display: inline;
  }

  #fffi a span#informatiky{
    margin-left: 0em;
    display: inline;
  }

  #kdykde {
    top:1.5em;
    right:0;
    text-align: left;
    width: auto;
    font-size: 100%;
    padding-right: 0;
    padding-left: 0;
    padding-top: 3em;
  }

  #kdykde #kde{
    padding: 0;
    font-size: 120%;
    margin-right: 10em;
    height: 5em;
  }

  #kdykde #kdy, #kdykde #otv, #kdykde #pro, #kdykde #zac{
    line-height: 1em;
    position: absolute;
    right: 0;
    width: 150px;
  }

  #kdykde #kdy{
    margin-top: 0em;
    margin-right: 0;
  }

  #kdykde #otv{
    padding-top: 1.4em;
    font-size: 120%;
  }

  #kdykde #pro{
    padding-top: 2.4em;
    font-size: 120%;
  }

  #kdykde #zac{
    padding-top: 3.6em;
    font-size: 125%;
    margin: 0;
  }

  header div#tema{
    top: 5.5em;
    color: #E23A28;
    padding: 0;
  }

  #events {
    top: 13.5em;
  }

  #menu ul {
    padding-left: 0;
  }

  #menu a, #cta a {
    font-size: 125%;
  }

  div.foto img{
    width: 400px;
  }

  div.building{
    float: none;
    padding-top: 0;
    padding-bottom: 2em;
    position: relative;
  }
  div.miesto{
    margin-right: 0;
    padding-bottom: 0;
  }
  
  div.ofilme{
    margin-right: 0;
  }

  div.snimek_foto{
    position: relative;
    left:0;
    float: none;
    padding-top: 1em;
  }

  div.snimek_foto img{
    border-bottom: none;
    border-top: none;
    border-right: solid 0.3em;
    border-left: solid 0.3em;
    max-width: 150px;
    border-color: #E23A28;
    max-height: 150px;
  }
}