@charset "iso-8859-1";
/* kaco
*/
html {
 height:100%;
}
body {
 /*/*//*/ width: 130%;	/* nn4 fix */
 background:url('img/bg.gif') repeat-y #7d7d7d;
 margin:0;
 padding:0;
 height:100%;
 font-family: Verdana, "Lucida Sans Unicode", sans-serif;
 font-size:11px;
 color:#aaaaaa;
 line-height:18px;
 min-width:800px;
}
strong, em, b, i {
 font-family: Verdana, "Lucida Sans", sans-serif;
}
html>body {
 min-height:100%;
 height:auto;
}
img {
 border:0;
 margin:0;
 padding:0;
}
img:active, img:focus, input {
 outline:none;
}
a:link, a:visited {
 color:#aedfe5;
 text-decoration:underline;
}
a:hover, a:focus {
 color:#bdd73c;
 outline:none;
}
#footer a:link, #footer a:visited {
 color:#7d7d7d;
 text-decoration:none;
}
#footer a:hover, #footer a:focus {
 color:#bdd73c;
 outline:none;
 text-decoration:underline;
}

#footer #footRight a:link, #footer #footRight a:visited {
 color:#555555;
 text-decoration:none;
}
#footer #footRight a:hover, #footer #footRight a:focus {
 color:#bdd73c;
 outline:none;
 text-decoration:underline;
}

form {
 margin:0;
 padding:0;
}
h1 {
 padding:0;
 margin:0;
}
* {
 padding:0;
 margin:0;
 border:0;
}
.clear {
 clear: both;
 height:10px;
}
.clearp {
 clear: both;
 height:20px;
}
#mainContainer {
 min-height: 100%;
 background-color:#222222;
 border:1px solid red;
 float:left;
}
* html #mainContainer {
 height: 100%;
}
#pageWrapper {
 width:800px;
 float:left;
 padding-top:29px;
 padding-right:59px;
}
#header {
 float:left;
 width:772px;
 height:65px;
 padding-left:28px;
}
#header h1 {
 display:inline;
 padding-right:30px;
 float:left;
}
#headImg {
 float:left;
 display:inline;
}
#menu {
 padding-left:28px;
 width:76px;
 float:left;
 display:inline;
 background:url('img/menu_bg.gif') no-repeat 28px 60px;
}
#menu #slogan {
 padding-bottom:11px;
}
#menu ul, #menu li {
 padding:0;
 margin:0;
 width:76px;
 float:left;
 list-style:none;
}
#menu li {
 padding-bottom:2px;
}
.mR a:link, .mR a:visited,
.mG a:link, .mG a:visited,
.mB a:link, .mB a:visited {
 float:left;
 width:76px;
 height:65px;
 background:url('img/menu_gray.png') no-repeat top left;
 text-decoration:none;
 font-size:0.1em;
 line-height:0.1em;
}
.mR a:hover, .mR a:focus {
 background:url('img/logo_red.png') no-repeat top left;
}
.mG a:hover, .mG a:focus {
 background:url('img/logo_green.png') no-repeat top left;
}
.mB a:hover, .mB a:focus {
 background:url('img/logo_blue.png') no-repeat top left;
}
#menu li h2 {
 display:none;
}
#toolTips li {
 width:auto;
 float:left;
 height:33px;
 color:white;
 line-height:33px;
 font-weight:bold;
 padding-left:10px;
 padding-right:15px;
 display:none;
 z-index:99;
}
#t1, #t4, #t7 {
 background-color:#bf1e2e;
}
#t2, #t5, #t8 {
 background-color:#bdd73c;
}
#t3, #t6, #t9 {
 background-color:#aedfe5;
}
#t1 {
 position:absolute;
 top:180px;
 left:117px;
}
#t2 {
 position:absolute;
 top:247px;
 left:117px;
}
#t3 {
 position:absolute;
 top:314px;
 left:117px;
}
#t4 {
 position:absolute;
 top:381px;
 left:117px;
}
#t5 {
 position:absolute;
 top:448px;
 left:117px;
}
#t6 {
 position:absolute;
 top:515px;
 left:117px;
}
#t7 {
 position:absolute;
 top:582px;
 left:117px;
}
#t8 {
 position:absolute;
 top:649px;
 left:117px;
}
#cnt {
 float:left;
 display:inline;
 width:444px;
 padding-left:30px;
}
#cnt h3 {
 width:181px;
 height:23px;
 margin:0;
 padding:0;
 padding-bottom:35px;
}
h4 {
 font-family: Verdana, "Lucida Sans Unicode", sans-serif;
 color:white;
 font-weight:normal;
 margin:0;
 padding:0;
 padding-bottom:20px;
 padding-top:20px;
 font-size:11px;
}
h4[title] {
 padding-top:0;
}
#cnt b {
 font-family: Verdana, "Lucida Sans Unicode", sans-serif;
 color:white;
 font-weight:bold;
 font-size:11px;
}
#cnt i {
 font-size:11px;
}
#cnt p {
 padding-top:0;
 margin-top:0;
 margin-bottom:20px;
}
#cnt .table {
 float:left;
 width:404px;
 padding:15px 20px 15px 20px;
 background-color:#333333;
 margin-top:25px;
}
#cnt table {
 background-color:#333333;
 width:100%;
 margin:0;
 padding:0;
 border:0;
 line-height:18px;
 font-size:11px;
 color:#dddddd;
}
#cnt tr, #cnt td {
 padding:0;
 margin:0;
 border:0;
}
#cnt tr > td:first-child {
 padding-right:20px;
 vertical-align:top;
}
#cnt tr > td:last-child img {
 float:right;
}
.tTime {
 color:white;
 font-size:11px;
 line-height:18px;
 font-weight:bold;
 font-family: Verdana, "Lucida Sans Unicode", sans-serif;
}
.projLeft {
 padding-top:15px;
 padding-left:20px;
 padding-right:20px;
 vertical-align:middle;
 padding-bottom:15px;
}
#footer {
 float:left;
 width:800px;
 height:35px;
 background-color:#2a2a2a;
 margin-top:55px;
 color:#7d7d7d;
}
#footLeft {
 padding-left:135px;
 width:350px;
 float:left;
 display:inline;
 font-size:9px;
 padding-top:8px;
}
#footRight {
 width:250px;
 float:right;
 display:inline;
 text-align:right;
 padding-right:20px;
 padding-top:8px;
 font-size:9px;
 color:#555555;
}
.vevent {
 display:none;
}
.vcard {
 float:left;
}
#hcard-Petr-Sojka {
 padding-top:20px;
}
.fn {
 font-size:11px;
 font-weight:bold;
 color:white;
}
.email, .tel, .fn, .org {
 display:block;
}
.country-name {
 display:none;
}
.adr {
 display:block;
 padding-top:10px;
 padding-bottom:10px;
}
.photo {
width:140px;
height:140px;
float:left;
display:inline;
padding-right:8px;
padding-bottom:8px;
background:url('img/picthumb.jpg') top left no-repeat;
}
.photo img {
border:0;
float:left;
}
#booking {
  width:130px;
  float:left;
  clear:both;
  position:absolute;
  top:28px;
  left:830px;
}
#booking img {
  float:left;
  padding-right:37px;
  padding-bottom:35px;
  width:93px;
  height:88px;
}
#booking p {
  margin-bottom:20px;
  color:#222222;
}
.flash {
  padding-left:5px;
}
.flash img {
  background:url('img/flash.png') top left no-repeat;
}
.flash img:hover {
  background:url('img/flash_hover.png') top left no-repeat;
}
.blind {
 float:left;
 top:-999px;
 left:-999px;
 position:absolute;
}
.player {
 float:left;
 height:30px;
 width:444px;
 clear:left;
}
.at, .hd {
 display:inline;
 float:left;
 padding-right:20px;
}
.hd a:link, .hd a:visited {
  float:left;
  line-height:30px;
  background-color:red;
  color:#888;
  font-size:10px;
  font-weight:bold;
  text-transform:uppercase;
  padding-left:10px;
  padding-right:25px;
  background:#333333 url('img/play.gif') top right no-repeat;
  height:30px;
  display:inline;
  text-decoration:none;
  padding-right:40px;
}
.hd a:hover, .hd a:focus {
 background:#bdd73c url('img/play2.gif') top right no-repeat;
 color:#222;
}
.at a:link, .at a:visited {
  float:left;
  line-height:30px;
  background-color:red;
  color:#888;
  font-size:10px;
  font-weight:bold;
  text-transform:uppercase;
  padding-left:10px;
  padding-right:40px;
  background:#333333 url('img/play.gif') top right no-repeat;
  height:30px;
  display:inline;
  text-decoration:none;
}
.at a:hover, .at a:focus {
 background:#bdd73c url('img/play2.gif') top right no-repeat;
 color:#222;
}