@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&amp;subset=latin,latin-ext');
@import url(https://fonts.googleapis.com/css?family=Catamaran:400,800,200);
/* ===========================
--- Základní prvky a tagy
============================ */
body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans',sans-serif;
    font-weight: 500;
    color: #666;
    background-color: #fff;
}

html {
    width: 100%;
    height: 100%;
}

p {
    margin: 0 0 20px;
    font-size: 15px;
    line-height: 1.6em;
    font-family:'Open Sans',sans-serif;
}

p.lead {
    font-weight: 600;
}

a {
    color: #0e1a91;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #0e1a91;
}

a:focus,a:hover,a,a:active {
    outline:0;
}

a,.tp-caption a.btn:hover {
    color: #0e1a91;
    outline:0;
}

.gallerytitle a{
	color: white !important;
}

a, button {
    font-family: 'Open Sans',sans-serif;

}

table {
    width:100%!important;
}

table td {
    vertical-align:top;

}

hr {
    margin-top: 10px;
}

.bold{
    font-weight:bold;
}
  
h1{
width:100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 30px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 100;
    color:white;
    letter-spacing: 0;
    background-color: #290a59;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    display:inline-block; 
}

h2 {
    font-size:40px;  
}




/* ===========================
--- hlavička
============================ */
.containertop{
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-info-left{

 padding: 20px;
    background-color: #290a59;
    float:left;
}

.navbar-info-right{
 padding: 10px;
 padding-right: 26px;
  padding-left: 20px;
    background-color: #290a59;
    text-align: right;
    float:right;
}

.logo{
clear:both;
    float:left;
    font-family: 'Catamaran', sans-serif;   
    text-transform: uppercase;
    font-weight: bold;
    font-size:50px;  
     text-align:left;
    display:inline-block; 
     color: #290a59;
     background-color: white;
     padding-left:10px;
     padding-right:10px;
}

.navbar-header {        
    text-align:center;
    width:100%;
    
}



.brand-heading {
    font-size: 40px;   
}


.navbar-brand {
   /* padding: 5px 15px; */  
    width:100%;
    height:100px;
    color: white;
     font-family: 'Catamaran', sans-serif;
    float:none;
     margin-left: 0px !important;

}

.navbar-brand h1 {
    color:white;
   /* margin-top:20px;*/     
    margin-bottom:0px;
}
.navbar-fixed-top{
    background: url(../img/2016/webpozadie.jpg) top center repeat-x;           
}
.homepage{
     background: url(../img/2016/webpozadie_big.jpg) top center repeat-x; 
     padding-top: 0px !important; 
     margin-top: 0px !important;
}



/* ===========================
--- Menu
============================ */
.dropdown:hover .dropdown-menu {
display: block;
}

.navbar-header {
   /* background-color: #2177d0!important;       */
    padding: 0;
    border-bottom: 0;
     padding-top:25px;
     /*margin-bottom:-125px;*/
     
}

.nav.navbar-nav {
    background-color: rgba(255,255,255,.4); 
}

.navbar-collapse {
   /* left: -50%;      */
   margin-top:21px;
    position: relative;
}

.navbar-header .nav.navbar-nav {
    background-color: white;
    position: relative;
   /* left: 50%;*/   
}


.navbar-header ul.nav li a {
    font-size: 12px;
    letter-spacing: 1px;
    color: #444;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-header. ul.nav li a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #fff;
}

.navbar-header ul.nav ul.dropdown-menu {
    border-radius: 0;	
}

.navbar-header ul.nav ul.dropdown-menu li {
    border-bottom: 1px solid #f5f5f5;
    list-style-type:none;

}

.navbar-header ul.nav ul.dropdown-menu li a:hover {
    color: #white;
}

.navbar-header ul.nav ul.dropdown-menu li:last-child{
    border-bottom: none;
}

.navbar-header ul.nav ul.dropdown-menu li a {
    padding: 10px 20px;
    text-align:left;
    width:100%;
    color: #290a59 !important;
}

.navbar-header ul.nav ul.dropdown-menu li a:hover {
    color:white !important;
     background-color: #290a59 !important;
}

.navbar-header ul.nav ul.dropdown-menu li a {
    color: #290a59!important;
}

.navbar-header .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    color:#290a59!important;
}

.navbar-header .nav li a:hover,
.navbar-header .nav li a:focus,
.navbar-header .nav li.active {
    outline: 0;
     color:white !important;
    background-color: #290a59;
}


.navbar-toggle {
    padding: 4px 6px;
    font-size: 14px;
    color: #fff;
    background-color: #290a59 !important; 
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
    color:white;
    background-color: #290a59 !important; 
}

/* ===========================
--- Sekce
============================ */
.main-content div.container{      
    padding-top:10px !important;
}

.customsection {
    margin-top:200px;
    margin-bottom:100px;
}

section {
    margin-top: 188px;
    margin-bottom:60px;

}


.section-heading h2 {
    font-size: 25px;
}



.showmore {
    color:white;
    background-color: #2177d0;
    padding: 10px 20px 10px 20px;
    border:0;  
    font-size:16px;
    -webkit-transition-duration: 0.2s; 
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s; 
    border-radius:8px;
    margin-left:auto;
    margin-right:auto;
}

.showmore:hover {

    background-color:#0e1a91;
}


/* ===========================
--- Preloader
============================ */

#preloader {
    background: #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}


#loaderInner {
    background:#ffffff url(../img/spinner.gif) center center no-repeat;
    height: 60px;
    left: 50%;
    margin: -60px 0 0 -25px;
    position: absolute;
    top: 50%;
    width: 60px;
}



/* ===========================
--- Admin
============================ */
.admin-button {
    background-color:#5cb85c;
    color:white;
    font-size:16px;
    border-radius:8px;
    border:0;
    outline:0;
    padding:10px 20px 10px 20px;  
    -webkit-transition-duration: 0.2s; 
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s; 
}


.admin-button-delete {
    background-color:red;
    color:white;
    font-size:16px;
    border-radius:8px;
    border:0;
    outline:0;
    padding:10px 20px 10px 20px;  
    -webkit-transition-duration: 0.2s; 
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s; 
}


#frm-pageForm-submenu {
    margin-bottom:10px;
}

.admin-button:hover {
    background-color:green;
}

.admin-button-delete:hover {
    background-color:darkred;
    color:white!important;
}


#staticpage .admin-button, #gallery .admin-button{
    float:right;
}

#staticpage .admin-button-delete, #gallery .admin-button-delete{
    float:right; 
    margin-left:10px;
}


.addpost {
    float:right;
    margin-top:-70px;
    margin-right:40px;
    position:relative;
    z-index:99;
}

.addpage {
    padding-top:10px!important;
    padding-bottom:5px!important;
}

.addpage:hover, .addpage:active, .addpage:focus {
    background:none!important;
}

.addpage .admin-button {
    padding: 5px 15px 5px 15px;
}


.editform input[type=text],.editform input[type=file]{
    width:100%;
    margin-bottom:10px;    
}

.editinfo textarea {
    width:100%;
    height:100px;
    resize:none;

}
.editform .admin-button {
    float:right;
    margin-right:10px;
    margin-top:-40px;
}

.editform .admin-button-delete {
    float:right;
    margin-top:-40px;
}

#dConfirm {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 221px;
    background-color: white;
    height: 193px;
    overflow: hidden;    
}

#dConfirmOk,#dConfirmCancel {
    border-radius:8px;
    text-transform:none;
    border:0;
    font-size:16px;
    padding:10px 20px 10px 20px;  

}

#dConfirm .modal-header, #dConfirm .modal-footer{
    border:0;
}

#dConfirm .modal-footer{
    margin-top: -83px;
    text-align: center;
}

#dConfirmTitle {
    margin-top: 30px;
    text-align: center; 
}


/* ===========================
--- Správa uživatelů
============================ */

.users {
    max-width:95%;
    height:45px;
}

.users-header {
    background-color:#f5f5f5; 
}

.username {
    width:50%;
    float:left;
    padding:12px;

    border:1px solid #ddd;
    height:45px;

}

.role {
    width:50%;
    padding:12px;
    float:left;

    border:1px solid #ddd;
    height:45px;
}

.role .deletevideo {
    margin-left:10px;
}

.useradmin {
    width:100%;
    height:70px;

}


.user-button {
    margin-bottom:15px;
}
.useradminleft {
    padding-left:0;
}

.useradmin .admin-button, .useradmin .admin-button-delete {
    float:none!important;
    margin-left:15px;
}

.useradmin input[type=text] {
    margin-right:10px;

}

.rolelevel {
    width:19px;
    height:22px;
    float:right;
    font-size:10px;
    margin-top:-4px;
    position:relative;
}

.userhandlers {
    margin-top:-17px;
}

.rolelevel img {
    vertical-align:top;
}

.rolelevel .down {
    position:absolute;
    top: 15px;
}


/* ===========================
--- Staticpages
============================ */
#staticpage {
    margin-bottom:100px;
}

#partners div.partnertext h3{
	background-color: transparent;
	color: #290a59;
	    min-width: 350px;
}




/* ===========================
--- Napsali o nás
============================ */

.article {
    max-width:600px;
    padding:20px;
    margin-left:auto;
    margin-right:auto;
}

.odd {
    background:#f8f8f8;
}

.article h4 {
    margin-bottom: 5px;
    font-size: 22px;     
}

.article p {
    margin-bottom: 5px;
    font-size: 13px;
}

.article a {
    font-size:15px;
    word-wrap: break-word;
}

#articles .videoadmin {
    height:auto;
    text-align:center;
}

#articles .videoadmin input[type=text] {
    margin-right:0;
}

#articles label {
    margin-top:10px;
}

#articles .videoadmin .admin-button {
    margin-top:10px;
}


/* ===========================
--- Filmy
============================ */
.film {
    padding:20px;
    max-width:600px;
    margin-left:auto;
    margin-right:auto;
    overflow:auto;
}

.film .deletevideo {
    margin-left:10px;
    margin-bottom:10px;
}

.filmtext h3 {
    margin-bottom:10px;
    text-transform: none !important;
}

.filmtext {
    float:left; 
    width:100%;

}

.filmimage {
    float:right;

}

.filmimage img {
    margin-left:10px;
    margin-bottom:10px;
}

.addfilm {
    margin-bottom:20px;
}

/* ===========================
--- Partneři
============================ */
.partner{
    padding:20px;
    max-width:600px;
    margin-left:auto;
    margin-right:auto;
    overflow:auto;
}

.helperhide {
	display:none;
}

.partnerlink {
	padding-left:10px;
}

.partner .deletevideo {
    margin-left:10px;
    margin-bottom:10px;
}

.partnertext h3 {
    margin-bottom:10px;
}

.partnertext {
    float:left; 
    width:100%;
    word-wrap: break-word;
}

.partnerimage {
    float:right;

}

.addpartner {
    margin-bottom:20px;
}

.partnerimage img {
    margin-left:10px;
    margin-bottom:10px;
}

.partnertype {
    margin-top:10px;
    text-align:center;
}

#frm-partnerForm-type {
    margin-bottom:10px;
}



/* ===========================
--- Galerie
============================ */
.gallery {
    text-align:center;
}

.gallerythumb img {
    width:100%;
}

.gallerytitle {
    max-width: 300px;
    margin-left:auto;
    margin-right:auto;
    height:60px;
    padding-top: 5px;
}

.galleryimage {
    padding:5px;
}

.galleryimage img {
    width:100%;
}

.back {
    float:left;
    margin-top:20px;

}

#gallery .back {
    margin-top: -10px;
}

#galleries .videoadmin input[type="text"], 
#galleries .videoadmin input[type="file"], 
#galleries .videoadmin .admin-button, 
#galleries .videoadmin label{
    float:left;

}

.introimg .videoadmin input[type="text"], 
.introimg .videoadmin input[type="file"], 
.introimg .videoadmin .admin-button, 
.introimg .videoadmin label {
    float:left;    
}

.introimg .videoadmin .admin-button-delete, 
.introimg .videoadmin .admin-button, 
.adminpanels input[type="file"]  {
    margin-left:10px;
}

.introimg form,.introimg .changeimg {
    float:right!important; 
}

.introimg .videoadmin {
    margin-top:-60px;
    margin-bottom:60px;

}

.addTheGallery {
    margin-bottom:20px;
}

#galleries .gallerythumb img,
#gallery .galleryimage img {
    -webkit-transform:scale(1.0);
    -moz-transform:scale(1.0);
    -o-transform:scale(1.0);
    -webkit-transition-duration: 0.5s; 
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s; 
}


#galleries .gallerythumb img:hover,
#gallery .galleryimage img:hover {
    -webkit-transform:scale(0.95);
    -moz-transform:scale(0.95);
    -o-transform:scale(0.95);

}


#galleries .videoadmin input[type="text"],
#galleries .videoadmin input[type="file"], 
#galleries .videoadmin label{
    margin-top:10px;
}

.introimg .videoadmin input[type="text"], 
.introimg .videoadmin input[type="file"], 
.introimg .videoadmin label, 
.adminpanels label, 
.adminpanels input[type="file"]{
    margin-top:10px;
}


#galleries .videoadmin {
    margin-bottom:0;
}

#gallery .adminpanels label,
#gallery .adminpanels input[type="file"] ,
#gallery .adminpanels input[type="text"],
#gallery .adminpanels .edit-gallery {
    float:left;

}

/* ===========================
--- VideoGallery
============================ */

.video {
    width:33%;
    float:left;
    text-align:center;
    padding:0 15px;
}

.videotitle {
    max-width: 250px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    height:60px;
}

.videoadmin {
    width:100%;
    height:60px;
    margin-bottom:20px;

}

.deletevideo {
    float:right;
    margin-bottom:3px;
    width:19px!important;
}

.edit {
    float:right;
}

.videoadmin label, .videoadmin input[type=text] {
    margin-right:10px;    
}


/* ===========================
--- Footer
============================ */
.thefooter div.container{
background-color: #290a59; 
padding-top:20px;
padding-bottom:33px;
}

footer img {
    -webkit-transform:scale(1.0);
    -moz-transform:scale(1.0);
    -o-transform:scale(1.0);
    -webkit-transition-duration: 0.5s; 
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s; 
    margin:10px;
}

footer img:hover {
    -webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8);

}

footer {
    text-align: center;
    /* padding-bottom:33px;
   background-color: #290a59;   
    padding-top: 20px;  */    

}

footer p {
    color: #f8f8f8;
    margin-bottom:0;
}

#lemma{
  float:left;
}

#fakulta{
clear:none;
  float:right;
}

/* ===========================
--- Elements
============================ */
.wrapper {
    min-height:100%;
    padding-top: 1px;
}

.wrapper:after {
    content: "";
    display: block;
    
}


.flashmessage {
    background-color: #cfeccc;
    border: 1px solid #33CB00;
    margin-top: 167px;
    border-radius: 10px;
    margin-bottom: -149px;
    color: green;
    font-size: 16px;
    padding-top: 16px;
    height: 56px;
    width: 99%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;  
}


.flashfail {  
    background-color: #ffb2b2!important;
    border: 1px solid red!important;
    color:red!important;

}


.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}



.social img {
    margin-left:5px;
    -webkit-transform:scale(1.0);
    -moz-transform:scale(1.0);
    -o-transform:scale(1.0);
    -webkit-transition-duration: 0.5s; 
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s; 
}


.social img:hover {
    -webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8);

}

#validator .modal-dialog {
    width: 300px;
    text-align: center;
    margin-top: 10%;
}

#validator .modal-body {
    background-color: #fffcc9;   
    border-radius:5px;
    border:2px solid #d0a058;
    color:#d0a058;
}

#validator .modal-body span {
    font-weight:600;
}

#validator button {
    margin-top:10px;
    background-color: #fffcc9;   
    border-radius:5px;
    border:2px solid #d0a058;
    padding-left:30px;
    padding-right:30px; 
    color:#d0a058;
    font-weight:600;
}

#validator button:hover {
    background-color:white;
}

/* Media queries */


@media (max-width:1200px) {

    .container {
        width:90%;
    }

}


@media (max-width:1075px) {
    .navbar-header ul.nav li a {
        padding-left:10px;
        padding-right:10px;
    }   
}


@media (max-width:986px) {
    .navbar-header {
        float: none;
        height: 149px;
        padding: 0;
    }

    .navbar-header .nav.navbar-nav {
        left:0;
    }

    .navbar-toggle {
        display: block;
        position:absolute;
        right: 6px;
        top: 6px;
    }
    .navbar-collapse.collapse {
        display:none!important;
    }
    .collapse.in {
        display:block!important;

    }
    .navbar-nav {
        float: none!important;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }


    .navbar-header ul.nav li a {
        padding-left:30px;
        padding-right:30px;
    }
    .navbar-header .nav.navbar-nav {
        background-color:white;
        width:164px;
        margin-top:0px;
        padding-bottom:10px;
    }

    .navbar-collapse {
        width:164px;
        padding-bottom:10px;
        max-height:none;
        margin-right: -23px!important;
        left:0;    
    }

    .customsection {
        margin-top: 130px;
        margin-bottom: 130px;
    }

    .useradminright {
        margin-top:15px;
    }

    .useradminleft {
        padding-right:0;
    }

    #users .users {
        max-width: 100%;

    }

    section {
        margin-top: 100px;
    }

    .flashmessage {
        margin-top: 66px;
        margin-bottom: -83px;
    }


}

@media (max-width:930px) {
    table td {
        width:100%!important;
        float:left;
    }

}


@media (max-width:816px) {
    #galleries .videoadmin input[type="text"], 
    #galleries .videoadmin input[type="file"], 
    #galleries .videoadmin .admin-button, 
    #galleries .videoadmin label {
        float: none;
    }

    #galleries .videoadmin {
        height: inherit;
        margin-bottom:25px;
    }

    #galleries .videoadmin form{
        width:250px;
        margin-left:auto;
        margin-right:auto
    }

    #galleries .videoadmin .admin-button {
        margin-top:10px;
    }

}

@media (max-width:789px) {
    #videogallery .videoadmin form {
        width:250px;
    }

    #videogallery .videoadmin form .admin-button {
        margin-top:10px;
    }

    #videogallery .videoadmin {
        height:inherit;
        margin-bottom:20px;
    }

}

@media (max-width:768px) {
    .logo{
        font-size: 25px;
    }

    h1 {
         font-size: 20px;
    }

    .navbar-collapse {
        float:right!important;
        margin-top: -1px!important;
    }


    .editform .admin-button-delete, 
    .editform .admin-button {
        float:none;
        margin-bottom:10px;
    }


    #dConfirm {
        width: 93%;
    }

    .navbar-header ul.nav ul.dropdown-menu li a {
        color:white;
    }


    .navbar-header ul.nav ul.dropdown-menu li {
        border:0;
    }

    .navbar-header ul.nav ul.dropdown-menu li a:hover {
        background-color: rgba(255,255,255,.2);
    }


    #staticpage .admin-button, #staticpage .admin-button-delete {
        margin-bottom:15px;
    }

    .navbar-header ul.nav ul.dropdown-menu li a {
        color: white;
        text-align:center;
    }

    .navbar-header {
        margin:0!important;
    }

}

@media (max-width:714px) {

	

    #users .useradmin form {
        width:100px
    }

    #users .useradmin form .admin-button {
        margin-top:10px;
        margin-left:0;        
    } 

    #users .useradmin {
        height:inherit;
        margin-bottom:10px;
    }

}



@media (max-width:680px) {



    .introimg .videoadmin input[type="text"], 
    .introimg .videoadmin input[type="file"], 
    .introimg .videoadmin .admin-button, 
    .introimg .videoadmin label {

        float:left;
    }



    .introimg .videoadmin {
        height:60px;
        width: 300px;
        margin-left:auto;
        margin-right:auto;

    }

    .introimg .changeimg {
        float:none!important;
        margin-left:0!important;
    }

    .introimg .videoadmin input[type="submit"] {
        margin-left:0;
        margin-top:20px;
        margin-bottom:20px;
    }


}

@media (max-width:650px) {
    .film, .article, .partner {
        width:95%;
    }

    .partnerimage, .filmimage {
        float:none;
        width: 100%;
        text-align:center;
    }
    .partnerimage img, .filmimage img {
        margin-left:0;
        max-width:100%;
    }
}



@media (max-width:573px) {
    .intro .sloganholder h2 {
        font-size: 28px;
        line-height: 23px;
    }

    .intro .slogan {
        padding-top:75px;
    }

    .gallery {
        width:100%;
    }

    #gallery .galleryimage {
        width:100%;
    }

    #gallery .adminpanels form {
        width:250px;
    }

    .adminpanels input[type="file"] {
        margin-left:0;
        margin-bottom:10px;
    }




}

@media (max-width:530px) {
   

    #users .role, #users .username {
        height:70px;
    } 

    #users .users {
        height:70px;
    }

    .userhandlers {
        margin-top: 8px;
        float:right    }

    .navbar-brand h1 {
        font-size:15px;
    }

    .navbar-toggle {
        right: -9px;
        top: -3px;
    }

    .navbar-info-left, .navbar-info-right{

         font-size:12px;
         height: 54px;
    }


}






@media (max-width:340px) {
     .logo{
        font-size: 25px;
    }

    h1 {
         font-size: 15px;
    }

    .navbar-info-left, .navbar-info-right{
    	padding: 10px !important;
    }

    .introimg .videoadmin {
        width:250px;
    }

    #gallery .admin-button {
        margin-top:5px;
    }

}