<head>
	<meta charset="utf-8">
	<meta HTTP-EQUIV="Refresh" CONTENT="0; URL=festival.fi.muni.cz/index.html">
	<title>18. Filmový festival Fakulty informatiky</title>
	<link rel="icon" type="image/png" href="festival.fi.muni.cz/img/ikona.png">
</head>