@charset "utf-8";#shadowbox_container,#shadowbox_overlay{top:0;  left:0;  height:100%;  width:100%;  margin:0;  padding:0;}
#shadowbox_container{position:fixed;  display:block;  visibility:hidden;  z-index:999;  text-align:center;}
#shadowbox_overlay{position:absolute;}
#shadowbox{position:relative;  margin:0 auto;  text-align:left;}
#shadowbox_body{position:relative;  margin:0;  padding:0;  border:2px solid #091e27;  overflow:hidden;}
#shadowbox_body_inner{position:relative;  height:100%;  cursor:pointer;}
#shadowbox_content.html{height:100%;  overflow:auto;}
#shadowbox_loading{position:absolute;  top:0;  width:100%;  height:100%;}
#shadowbox_body,#shadowbox_loading{background-color:#060606;}
#shadowbox_loading_indicator{float:left;  margin:10px 10px 0 10px;  height:32px;  width:32px;  background-image:url(loading.gif);  background-repeat:no-repeat;}
#shadowbox_loading span{font-family:"Lucida Sans Unicode",sans-serif; font-size:12px;  float:left;  margin-top:16px;}
#shadowbox_loading span a:link, #shadowbox_loading span a:visited{color:#fff;  text-decoration:underline;}
#shadowbox_title,#shadowbox_info{position:relative;  margin:0;  padding:0;  overflow:hidden;}
#shadowbox_title_inner,#shadowbox_info_inner{position:relative; font-family:"Lucida Sans Unicode",sans-serif;  line-height:16px;}
#shadowbox_title{height:23px;}
#shadowbox_title_inner{font-size:13px;  padding:5px 0;  padding-left:6px;  color:#ccc;}
#shadowbox_info{height:20px;}
#shadowbox_info_inner{font-size:12px;  color:#fff;}
#shadowbox_nav{float:right;  height:16px;  padding:2px 0;  width:45%;}
#shadowbox_nav a{display:block;  float:right;  height:16px;  width:16px;  margin-left:3px;  cursor:pointer;}
#shadowbox_nav_close{
background-image:url(icons/close_circ.png);background-repeat:no-repeat;cursor:pointer;float:right;height:22px;left:0;position:relative;top:-26px;width:22px;cursor:pointer;}
#shadowbox_nav_next{background-image:url(icons/next.png);  background-repeat:no-repeat;}
#shadowbox_nav_previous{background-image:url(icons/previous.png);  background-repeat:no-repeat;}
#shadowbox_nav_play{background-image:url(icons/play.png);  background-repeat:no-repeat;}
#shadowbox_nav_pause{background-image:url(icons/pause.png);  background-repeat:no-repeat;}
#shadowbox_counter{float:left;  padding:2px 0;  padding-left:6px;  width:45%;  font-weight:bold;}
#shadowbox_counter a{text-decoration:none;  cursor:pointer;  color:#ccc;  padding-left:3px;  padding-right:3px;  line-height:16px;}
#shadowbox_counter a.shadowbox_counter_current{background-image:url(bg/60.png);}
#shadowbox_counter a:hover{background-image:url(bg/30.png);}
#shadowbox_counter a.shadowbox_counter_current:hover{background-image:url(bg/60.png);}
div.shadowbox_clear{clear:both;}
div.shadowbox_message{font-family:"Lucida Sans Unicode",sans-serif;  font-size:12px;  padding:10px;  text-align:center;}
div.shadowbox_message a:link, div.shadowbox_message a:visited{color:#fff;  text-decoration:underline;}