@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&amp;subset=latin,latin-ext');

/* ===========================
--- Základní prvky a tagy
============================ */
@font-face {
    font-family: 'Lato rg';
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato lg';
    src: url('../fonts/Lato-Light.ttf');
}

@font-face {
    font-family: 'Lato bd';
    src: url('../fonts/Lato-Bold.ttf');
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Lato rg',sans-serif;
    font-weight: normal;
    color: #36443c;
    background-color: #fff;
}

html {
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

p {
    margin: 0 0 20px;
    font-size: 15px;
    line-height: 1.6em;
    font-family: 'Lato rg',sans-serif;
    text-align: justify;
}

p.lead {
    font-weight: 600;
}

a {
    color: #428bca;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: #6e506e;
}

a:focus,a:hover,a,a:active {
    outline:0;
}

a,.tp-caption a.btn:hover {
    color: #428bca;
    outline:0;
}

button {
    font-family: 'Open Sans',sans-serif;

}

table {
    width:100%!important;
}

table td {
    vertical-align:top;

}

hr {
    margin-top: 10px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0;
    font-family: 'Lato bd', sans-serif;
    color: #36443c;
    letter-spacing: 0;
    display: inline-block;
}

h2 {
    font-size:27px;
    text-transform: uppercase;
}

h1 {
    text-transform: uppercase;
    font-size: 85px;
}

.podnadpis {
    color: #111111;
    text-transform: uppercase;
    font-size:60px;
}

.eng {
    background: url(../img/eng.png) no-repeat;
    background-size: 100%;
    margin-top: 20px;
    margin-left: 60px;
    width: 64px;
    height: 64px;
    position: absolute;
    -webkit-transform:scale(1.0);
    -moz-transform:scale(1.0);
    -o-transform:scale(1.0);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;

}
.eng:hover {
    -webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8);
}

.cze {
    background: url(../img/cze.png) no-repeat;
    background-size: 100%;
    display:block;
    margin-top: 20px;
    margin-left: 60px;
    width: 64px;
    height: 64px;
    position: absolute;
    -webkit-transform:scale(1.0);
    -moz-transform:scale(1.0);
    -o-transform:scale(1.0);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;

}
.cze:hover {
    -webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8);
}



/* ===========================
--- hlavička
============================ */

.headerimage {
    width:700px
}



@media (max-width: 940px) {
  .headerimage {
    width:100%
  }
  .eng {
    margin-top: -8px;
  }
  .cze {
    margin-top: -8px;
  }
  .container-header .navbar-collapse.navbar-right {
    position: absolute;
  }
}

.navbar-header {
    text-align:center;
    width:100%;
}

.brand-heading {
    font-size: 100px;
}


.navbar-brand {
    padding: 5px 15px;
    width:100%;
    height:100px;
    float:none;
}

.navbar-brand h1 {
    color:#111111;
    //margin-top:20px;
    margin-bottom:0px;
}

/* ===========================
--- Menu
============================ */

.menu-picture {
    background-size: 100%;
    padding-left:0;
    position: relative;
    margin: 0;
    left:50%;
    height:70px;

}


.navbar-header {
    //background-color: #2177d0!important;
    padding: 0;
    border-bottom: 0;
    margin-top: 30px;
}

.nav.navbar-nav {
    //background-color: #391d2a;
    padding-top:10px;
    padding-bottom:10px;
    //padding-left:100px;
    //padding-right:100px;
}

.navbar-collapse {
    background-color: rgba(0,0,0,0);
    left: -50%;
    position: relative;
    margin-top: 30px;
}

.navbar-header .nav.navbar-nav {
    left: 50%;
}


.navbar-header ul.nav li a {
    font-size: 27px;
    color: #36443c;
    text-transform: uppercase;
    font-family: 'Lato rg', sans-serif;
}

.navbar-header ul.nav li a:hover {
    font-weight: bold;
}

.navbar-header ul.nav li a.active {
    color: #f37521;
}

.navbar-header. ul.nav li a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #fff;
}

.navbar-header ul.nav ul.dropdown-menu {
    border-radius: 0;
}

.navbar-header ul.nav ul.dropdown-menu li {
    list-style-type:none;
    float: right;
}

.navbar-header ul.nav ul.dropdown-menu li:before {
    content: "";
    height: 1px;
    width: 150px;
    position: absolute;
    right: 10px;
    background: #36443c;
}
.navbar-header ul.nav ul.dropdown-menu li:first-child:before {
    display: none;
}

@media (max-width: 940px) {
    .navbar-header ul.nav ul.dropdown-menu li {
        float: none;
        background-color: #f0f0f0;
    }

    .navbar-header ul.nav ul.dropdown-menu li:before {
        display: none;
    }

}

.navbar-header ul.nav ul.dropdown-menu li a:hover {
    /*font-family: 'Lato rg';
    font-weight: normal;*/
}

.navbar-header ul.nav ul.dropdown-menu li:last-child{
    border-bottom: none;
}

.navbar-header ul.nav ul.dropdown-menu li a {
    font-family: 'Lato lg';
    font-size: 20px;
    padding: 10px 20px;
    text-align:left;
    width:100%;
}

.navbar-header .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-header .nav li a:hover,
.navbar-header .nav li a:focus,
.navbar-header .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}
.navbar-header .nav li a:hover,
.navbar-header .nav li a:focus,
.navbar-header .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 14px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

/* ===========================
--- Sekce
============================ */

.customsection {
    margin-top:200px;
    margin-bottom:100px;
}

section {
    margin-left: auto;
    margin-right: auto;
    //background: url(../img/2017/body-repeat.png) repeat-y;
    background-size: 100%;
    width:100%;
    padding-bottom: 50px;
    min-height: 350px;
    //margin-top: 160px;
    //margin-bottom:60px;

}

.info {
    margin-left: auto;
    margin-right: auto;
    padding-right:15px;
    padding-left:15px;
    height:160px;
    //height: 0px !important;
    //background: url(../img/2017/info-txt.png) no-repeat;
    background-size: 100%;
    width:55%;
    //margin-top: 120px;
}

.info-eng {
    margin-left: auto;
    margin-right: auto;
    padding-right:15px;
    padding-left:15px;
    height:160px;
    //background: url(../img/2017/info-txt-eng.png) no-repeat;
    background-size: 100%;
    width:55%;
    margin-top:80px;
}

.section-heading h2 {
    font-size: 27px;
}



.showmore {
    color:white;
    background-color: #6e506e;
    padding: 10px 20px 10px 20px;
    border:0;
    font-size:16px;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    border-radius:8px;
    margin-left:auto;
    margin-right:auto;
}

.showmore:hover {

    background-color:#0e1a91;
}


/* ===========================
--- Preloader
============================ */

#preloader {
    background: #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}


#loaderInner {
    background:#ffffff url(../img/spinner.gif) center center no-repeat;
    height: 60px;
    left: 50%;
    margin: -60px 0 0 -25px;
    position: absolute;
    top: 50%;
    width: 60px;
}



/* ===========================
--- Admin
============================ */
.admin-button {
    background-color:#5cb85c;
    color:white;
    font-size:16px;
    border-radius:8px;
    border:0;
    outline:0;
    padding:10px 20px 10px 20px;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
}


.admin-button-delete {
    background-color:red;
    color:white;
    font-size:16px;
    border-radius:8px;
    border:0;
    outline:0;
    padding:10px 20px 10px 20px;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
}


#frm-pageForm-submenu {
    margin-bottom:10px;
}

.admin-button:hover {
    background-color:green;
}

.admin-button-delete:hover {
    background-color:darkred;
    color:white!important;
}


#staticpage .admin-button, #gallery .admin-button{
    float:right;
}

#staticpage .admin-button-delete, #gallery .admin-button-delete{
    float:right;
    margin-left:10px;
}


.addpost {
    float:right;
    margin-top:-70px;
    margin-right:40px;
    position:relative;
    z-index:99;
}

.addpage {
    padding-top:10px!important;
    padding-bottom:5px!important;
}

.addpage:hover, .addpage:active, .addpage:focus {
    background:none!important;
}

.addpage .admin-button {
    padding: 5px 15px 5px 15px;
}


.editform input[type=text],.editform input[type=file]{
    width:100%;
    margin-bottom:10px;
}

.editinfo textarea {
    width:100%;
    height:100px;
    resize:none;

}
.editform .admin-button {
    float:right;
    margin-right:10px;
    margin-top:-40px;
}

.editform .admin-button-delete {
    float:right;
    margin-top:-40px;
}

#dConfirm {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 221px;
    background-color: white;
    height: 193px;
    overflow: hidden;
}

#dConfirmOk,#dConfirmCancel {
    border-radius:8px;
    text-transform:none;
    border:0;
    font-size:16px;
    padding:10px 20px 10px 20px;

}

#dConfirm .modal-header, #dConfirm .modal-footer{
    border:0;
}

#dConfirm .modal-footer{
    margin-top: -83px;
    text-align: center;
}

#dConfirmTitle {
    margin-top: 30px;
    text-align: center;
}


/* ===========================
--- Správa uživatelů
============================ */

.users {
    max-width:95%;
    height:45px;
}

.users-header {
    background-color:#f5f5f5;
}

.username {
    width:50%;
    float:left;
    padding:12px;

    border:1px solid #ddd;
    height:45px;

}

.role {
    width:50%;
    padding:12px;
    float:left;

    border:1px solid #ddd;
    height:45px;
}

.role .deletevideo {
    margin-left:10px;
}

.useradmin {
    width:100%;
    height:70px;

}


.user-button {
    margin-bottom:15px;
}
.useradminleft {
    padding-left:0;
}

.useradmin .admin-button, .useradmin .admin-button-delete {
    float:none!important;
    margin-left:15px;
}

.useradmin input[type=text] {
    margin-right:10px;

}

.rolelevel {
    width:19px;
    height:22px;
    float:right;
    font-size:10px;
    margin-top:-4px;
    position:relative;
}

.userhandlers {
    margin-top:-17px;
}

.rolelevel img {
    vertical-align:top;
}

.rolelevel .down {
    position:absolute;
    top: 15px;
}


/* ===========================
--- Staticpages
============================ */
#staticpage {
    margin-left: auto;
    margin-right: auto;
    background-size: 100%;
    //min-height: 680px;
    //padding-bottom: 100px;
    //margin-bottom:100px;

}


/* ===========================
--- Napsali o nás
============================ */

.article {
    max-width:600px;
    padding:20px;
    margin-left:auto;
    margin-right:auto;
}

.odd {
    background:#f8f8f8;
}

.article h4 {
    margin-bottom: 5px;
    font-size: 22px;
}

.article p {
    margin-bottom: 5px;
    font-size: 13px;
}

.article a {
    font-size:15px;
    word-wrap: break-word;
}

#articles .videoadmin {
    height:auto;
    text-align:center;
}

#articles .videoadmin input[type=text] {
    margin-right:0;
}

#articles label {
    margin-top:10px;
}

#articles .videoadmin .admin-button {
    margin-top:10px;
}


/* ===========================
--- Filmy
============================ */
.film {
    padding:20px;
    max-width:600px;
    margin-left:auto;
    margin-right:auto;
    overflow:auto;
}

.film .deletevideo {
    margin-left:10px;
    margin-bottom:10px;
}

.filmtext h3 {
    margin-bottom:15px;
}

.filmtext {
    float:left;
    width:100%;

}

.filmimage {
    float:right;

}

.filmimage img {
    margin-left:15px;
    margin-bottom:15px;
}

.addfilm {
    margin-bottom:20px;
}

/* ===========================
--- Partneři
============================ */
.partner{
    padding:20px;
    max-width:600px;
    margin-left:auto;
    margin-right:auto;
    overflow:auto;
}
.helperhide {
	display:none;
}

.partnerlink {
	padding-left:10px;
}

.partner .deletevideo {
    margin-left:10px;
    margin-bottom:10px;
}

.partnertext h3 {
    font-size: 15px;
    margin-bottom:10px;
}

.partnertext {
    float:left;
    width:100%;
    word-wrap: break-word;
}

.partnerimage {
    float:right;

}

.addpartner {
    margin-bottom:20px;
}

.partnerimage img {
    margin-left:10px;
    margin-bottom:10px;
}

.partnertype {
    background-color: #ffffff;
    margin-top:40px;
    margin-bottom:20px;
    text-align:center;
}

#frm-partnerForm-type {
    margin-bottom:10px;
}



/* ===========================
--- Galerie
============================ */
.gallery {

    text-align:center;
}

.gallerythumb img {
    width:100%;
}

.gallerytitle {
    max-width: 300px;
    margin-left:auto;
    margin-right:auto;
    height:60px;
    padding-top: 5px;

}

.galleryimage {
    padding:5px;
}

.galleryimage img {
    width:100%;
}

.back {
    float:left;
    margin-top:20px;

}

#gallery .back {
    margin-top: -10px;
}

#galleries .videoadmin input[type="text"],
#galleries .videoadmin input[type="file"],
#galleries .videoadmin .admin-button,
#galleries .videoadmin label{
    float:left;

}

.introimg .videoadmin input[type="text"],
.introimg .videoadmin input[type="file"],
.introimg .videoadmin .admin-button,
.introimg .videoadmin label {
    float:left;
}

.introimg .videoadmin .admin-button-delete,
.introimg .videoadmin .admin-button,
.adminpanels input[type="file"]  {
    margin-left:10px;
}

.introimg form,.introimg .changeimg {
    float:right!important;
}

.introimg .videoadmin {
    margin-top:-60px;
    margin-bottom:60px;

}

.addTheGallery {
    margin-bottom:20px;
}

#galleries .gallerythumb img,
#gallery .galleryimage img {
    -webkit-transform:scale(1.0);
    -moz-transform:scale(1.0);
    -o-transform:scale(1.0);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}


#galleries .gallerythumb img:hover,
#gallery .galleryimage img:hover {
    -webkit-transform:scale(0.95);
    -moz-transform:scale(0.95);
    -o-transform:scale(0.95);

}


#galleries .videoadmin input[type="text"],
#galleries .videoadmin input[type="file"],
#galleries .videoadmin label{
    margin-top:10px;
}

.introimg .videoadmin input[type="text"],
.introimg .videoadmin input[type="file"],
.introimg .videoadmin label,
.adminpanels label,
.adminpanels input[type="file"]{
    margin-top:10px;
}


#galleries .videoadmin {
    margin-bottom:0;
}

#gallery .adminpanels label,
#gallery .adminpanels input[type="file"] ,
#gallery .adminpanels input[type="text"],
#gallery .adminpanels .edit-gallery {
    float:left;

}

/* ===========================
--- VideoGallery
============================ */

.video {
    width:33%;
    float:left;
    text-align:center;
    padding:0 15px;
}

.videotitle {
    max-width: 250px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    height:60px;
}

.videoadmin {
    width:100%;
    height:60px;
    margin-bottom:20px;

}

.deletevideo {
    float:right;
    margin-bottom:3px;
    width:19px!important;
}

.edit {
    float:right;
}

.videoadmin label, .videoadmin input[type=text] {
    margin-right:10px;
}


/* ===========================
--- Footer
============================ */


footer img {
    margin:10px;
    padding: 15px;
    height: 100px;
    /*-webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%) brightness(0%) invert(100%);
    transition-duration: 0s;*/
}

/*footer img:hover {
   filter: brightness(100%) invert(0%);
}*/

footer {
    text-align: center;
}

footer p {
    color: #f8f8f8;
    margin-bottom:0;
}

footer li {
    text-align: center;
    display: inline-block;
     list-style-type: none;
    float: left;
    width: 100px;
    position: relative;
}

.thefooter .container-header {
    background: url(../img/thisisfooter.png) no-repeat;
    background-size: 100%;
    width: 700px;
}

@media (max-width: 940px) {
    .thefooter .container-header {
        background: none;
        width: 100%;
    }
}

/* ===========================
--- Elements
============================ */
.wrapper {
    background-color: #FFFFFF;
    background-size: 100%;
    padding-top: 440px;
}

@media (max-width: 940px) {
    .wrapper {
        padding-top: 250px;
    }
}

@media (max-width: 380px) {
    .wrapper {
        padding-top: 155px;
    }
}

.flashmessage {
    background-color: #cfeccc;
    border: 1px solid #33CB00;
    margin-top: 167px;
    border-radius: 10px;
    margin-bottom: -149px;
    color: green;
    font-size: 16px;
    padding-top: 16px;
    height: 56px;
    width: 99%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}


.flashfail {
    background-color: #ffb2b2!important;
    border: 1px solid red!important;
    color:red!important;

}


.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}



.social img {
    margin-left:5px;
    -webkit-transform:scale(1.0);
    -moz-transform:scale(1.0);
    -o-transform:scale(1.0);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}


.social img:hover {
    -webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8);

}

#validator .modal-dialog {
    width: 300px;
    text-align: center;
    margin-top: 10%;
}

#validator .modal-body {
    background-color: #fffcc9;
    border-radius:5px;
    border:2px solid #d0a058;
    color:#d0a058;
}

#validator .modal-body span {
    font-weight:600;
}

#validator button {
    margin-top:10px;
    background-color: #fffcc9;
    border-radius:5px;
    border:2px solid #d0a058;
    padding-left:30px;
    padding-right:30px;
    color:#d0a058;
    font-weight:600;
}

#validator button:hover {
    background-color:white;
}

/* Media queries */



@media (max-width:940px) {
    .info {
        height: 130px;
    }
    .info-eng {
        height: 130px;
    }
}

@media (max-width:940px) {
    .navbar-header {
        float: none;
        height: 0px;
        padding: 0;
    }

    .navbar-header .nav.navbar-nav {
        left:0;
    }

    .navbar-toggle {
        display: block;
        position:absolute;
        left: 40px;
        top: 90px;
    }
    .navbar-collapse.collapse {
        display:none!important;
    }
    .collapse.in {
        display:block!important;

    }
    .navbar-collapse.navbar-right .menu-picture ul {
    padding-top:0px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
    }

    .navbar-collapse.navbar-right .menu-picture ul li a {
        font-size:12px;
    }

    .navbar-collapse.navbar-right .menu-picture {
        height:auto;
        left:inherit;
    }


    .navbar-nav {
        float: none!important;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }


    .navbar-header ul.nav li a {
        padding-left:30px;
        padding-right:30px;
    }
    .navbar-header .nav.navbar-nav {
        background-color:#ffffff;
	border: 1px solid #f5f5f5;
        width:164px;
        margin-top:0px;
        padding-bottom:10px;
    }

    .navbar-collapse {
        width:164px;
        padding-bottom:10px;
        max-height:none;
        margin-right: -23px!important;
        margin-top: 100px;
        left:0;
    }

    .customsection {
        margin-top: 130px;
        margin-bottom: 130px;
    }

    .useradminright {
        margin-top:15px;
    }

    .useradminleft {
        padding-right:0;
    }

    #users .users {
        max-width: 100%;

    }

    section {
        width: 90%;
    }


    .info {
        margin-top: 0px;
        width: 70%;
    }

    .info-eng {
        width: 70%;
    }

    .flashmessage {
        margin-top: 66px;
        margin-bottom: -83px;
    }


}

@media (max-width:930px) {
    table td {
        width:100%!important;
        float:left;
    }

}


@media (max-width:816px) {
    #galleries .videoadmin input[type="text"],
    #galleries .videoadmin input[type="file"],
    #galleries .videoadmin .admin-button,
    #galleries .videoadmin label {
        float: none;
    }

    #galleries .videoadmin {
        height: inherit;
        margin-bottom:25px;
    }

    #galleries .videoadmin form{
        width:250px;
        margin-left:auto;
        margin-right:auto
    }

    #galleries .videoadmin .admin-button {
        margin-top:10px;
    }

}

@media (max-width:789px) {
    #videogallery .videoadmin form {
        width:250px;
    }

    #videogallery .videoadmin form .admin-button {
        margin-top:10px;
    }

    #videogallery .videoadmin {
        height:inherit;
        margin-bottom:20px;
    }

}

@media (max-width:768px) {

    .navbar-collapse {
        float:left!important;
        margin-top: 100px;
    }


    .editform .admin-button-delete,
    .editform .admin-button {
        float:none;
        margin-bottom:10px;
    }


    #dConfirm {
        width: 93%;
    }

    .navbar-header ul.nav ul.dropdown-menu li {
        border:0;
    }

    .navbar-header ul.nav ul.dropdown-menu li a:hover {
        background-color: rgba(255,255,255,.2);
    }


    #staticpage .admin-button, #staticpage .admin-button-delete {
        margin-bottom:15px;
    }

    .navbar-header ul.nav ul.dropdown-menu li a {
        text-align:center;
    }

    .navbar-header {
    }

}

@media (max-width:730px) {
      .navbar-brand h1 {
        font-size: 60px;
        }

      .info {
        margin-top: 0px;
        width: 80%;
      }

      .info-eng {
        //margin-top: 75px;
        width: 80%;
      }

      section {
        width: 90%;
      }

      .container {
        padding-top: 20px;
        padding-right: 35px;
        padding-left: 35px;
      }


}


@media (max-width:714px) {
    #users .useradmin form {
        width:100px
    }

    #users .useradmin form .admin-button {
        margin-top:10px;
        margin-left:0;
    }

    #users .useradmin {
        height:inherit;
        margin-bottom:10px;
    }

}



@media (max-width:680px) {

    .introimg .videoadmin input[type="text"],
    .introimg .videoadmin input[type="file"],
    .introimg .videoadmin .admin-button,
    .introimg .videoadmin label {

        float:left;
    }



    .introimg .videoadmin {
        height:60px;
        width: 300px;
        margin-left:auto;
        margin-right:auto;

    }

    .introimg .changeimg {
        float:none!important;
        margin-left:0!important;
    }

    .introimg .videoadmin input[type="submit"] {
        margin-left:0;
        margin-top:20px;
        margin-bottom:20px;
    }


}

@media (max-width:650px) {
    .film, .article, .partner {
        width:95%;
    }

    .partnerimage, .filmimage {
        float:none;
        width: 100%;
        text-align:center;
    }
    .partnerimage img, .filmimage img {
        margin-left:0;
        max-width:100%;
    }
}



@media (max-width:630px) {
      .navbar-brand h1 {
        font-size: 40px;
        }

      .info {
        margin-top: 25px;
        height: 75px;
      }

      .info-eng {
        margin-top: 25px;
        height: 75px;
      }

      .section-heading h2 {
        font-size: 25px;
      }

      p {
        font-size: 13px;
      }

      .eng {
        width: 10%;
        margin-left: 8%;
      }

      .cze {
        width: 10%;
        margin-left: 8%;
      }

}


@media (max-width:573px) {
    .intro .sloganholder h2 {
        font-size: 28px;
        line-height: 23px;
    }

    .intro .slogan {
        padding-top:75px;
    }

    .gallery {
        width:100%;
    }

    #gallery .galleryimage {
        width:100%;
    }

    #gallery .adminpanels form {
        width:250px;
    }

    .adminpanels input[type="file"] {
        margin-left:0;
        margin-bottom:10px;
    }




}

@media (max-width:530px) {
    #users .role, #users .username {
        height:70px;
    }

    #users .users {
        height:70px;
    }

    .userhandlers {
        margin-top: 8px;
        float:right    }

    .navbar-brand h1 {
        font-size:30px;
    }

    .info {
      height: 70px;
      width: 80%;
      margin-top: 0;
    }

    .info-eng {
      height: 70px;
      width: 80%;
      margin-top: 0;
    }

    section {
      width: 90%;
    }

    .container {
      padding-top: 15px;
      padding-right: 25px;
      padding-left: 25px;
    }

    .navbar-toggle {
        top: 70px;
    }

    .navbar-collapse {
        margin-top: 80px;
    }
}

@media (max-width: 834px) {
  .footerBr {
    display: block
  }
}

@media (max-width:417px) {
    .info {
        width: 95%;
    }

    .info-eng {
        width: 95%;
    }

    section {
        width: 90%;
    }

}




@media (max-width:340px) {
    .introimg .videoadmin {
        width:250px;
    }

    #gallery .admin-button {
        margin-top:5px;
    }

    .info {
        height: 0px;
        width: 100%;
    }

    .info-eng {
        height: 45px;
        width: 100%;
    }

    section {
        width: 100%;
    }
    .navbar-brand h1 {
        font-size:30px;
    }

}

iframe {
    width: 100%;
    border: none;
}

@media (max-width: 550px) {
    iframe {
        height: 210px;
    }

    .porota-img {
        width: 55%;
        display: block;
        margin: 0 auto;
    }

}