BODY { background: black url(../img/prightbg.gif) repeat-x; margin: 0px; padding:0px}
BODY, TD { font-family: Arial CE, Helvetica CE, Arial, sans-serif; font-size: 12px; color: white; }
H1 { margin: 0px; font-family: Arial CE, Helvetica CE, Arial, sans-serif; font-weight: normal; font-size: 20px; }
A,
A:visited,
A:hover { color: #acf; text-decoration: underline; }
A:hover { color: #eef; }

.leftcont { float: left; }
.rightpane { color: #ddd; width: 109px; text-align: left; margin: 5px 10px 10px 0px; padding: 0px; background: #163A4D; font-size: 11px; border: 1px solid #32627D;  }
.rightpane H1 { background: #6192AB; color: black; margin: 0px; padding: 5px; font-size: 12px; font-weight: bold; }
.rightpane A,
.rightpane A:hover,
.rightpane A:visited { color: #ddf; }
.rightpane A:hover { color: #eef; }
.telo { float: left; width: 460px; margin: 5px 0px 20px 0px; }
P { text-align: justify; margin: 0px; padding: 0px; }
.celll { vertical-align: top; padding: 4px 10px 4px 25px; color: #bbb; }
.cellr { vertical-align: top; padding: 4px 10px 4px 0px; }

.projekceimg { border: 1px solid #aaa; background: #222; }
.projekcecell { vertical-align: top; padding: 0px 15px 10px 0px; margin: 0px; sbackground: #222; padding: 5px 5px 5px 0px; }
.projekcecell H2 { font-size: 13px; margin: 5px 0px 1px 0px; color: #db6; }

.partnerimgcell { width: 120px; height: 120px; vertical-align: middle; }
.partnercell { text-align: center; vertical-align: middle; margin: 0px; sbackground: #222; padding: 5px 5px 25px 0px; }
.partnercell H2 { font-size: 15px; margin: 5px 0px 1px 0px; }


H3 { border: 1px solid #276F7F; background: #1C5C6A; padding: 3px; font-size: 12px; margin: 0px 0px 5px 0px; }

.galerieimg { border: 1px solid #555; }

