@charset "utf-8";
/* CSS Document */

body {
  background:url(02.png);
  color:#ccc;
}

a, a:active {
  color:#7af;
}

a:hover {
  text-decoration:none;
}

header a, div#header a {
  color:#ccc;
}

h1, h2, h3, h4, h5, h6 {
  text-shadow:0 0 .4em #black;
}

h2 {
  font-size:130%!important;
}

#fffi a, #fffi_ie a{
  color:#fff;
  text-decoration:none;
  text-shadow:0em 0em .7em #3577aa;
}

#kdykde {
  border-right: 3px solid #fff;
  text-shadow:0 0 1.5em #3577aa;    
}

#kdykde, #kdykde a {
  color:#fff;
  text-decoration: none;
}
#events{
  list-style:none;
}

#menu a , #cta a{
	color: #ddd;
	border-radius: 0.2em;
	box-shadow: 0 0 1.5em #202830;
	text-decoration: none;
    -webkit-transition-duration: 0.2s; /*Webkit: Animation duration*/
  -moz-transition-duration: 0.2s; /*Mozilla duration version*/
  -o-transition-duration: 0.2s; /*Opera duration version*/
}

#menu a:hover, #cta a:hover {
	box-shadow: 0 0 1.0em #4c6882;
}

section:after {
  content:attr(data-added);
  color:#4c6882;
}


div.foto {
  background-color: #1f272f;
  color:#ddd;
  border-radius: .2em;
  box-shadow: 0 0 1.5em #202830;
}

div.foto a img {
	border: 1px solid #ecae21;
}

div.foto a:hover img {
  border:1px solid #4c6882;
}

footer, div#footer {
      color:black;
      font-size:70%;
      padding-top:35px;
}



div#maintext {
  width:670px;
  float:left;
  margin-top: -30px;
}

.footp {
text-align:center!important;
}

.footd {
width:400px;
}

ol{
  list-style-type: lower-alpha;
}

a.title{
  color: #CCCCCC;
}

ul.partner{
  list-style: none;
}

ul.partner li div span.meno{
  font-weight: bold;
}

ul.partner li{
  background-color: #1f272f;
  border-color: #1f272f;
  border-style: solid;
  border-width: 0.5em;
  color:#ddd;
  border-radius: .2em;
  box-shadow: 0 0 1.5em #202830;
}

div.snimek ul{
  list-style: none;
}

div.snimek em{
  color: #299762;
}

div.snimek li span{
  color:#299762;
}

div.snimek li span{
  font-weight: bold;
}

ul.program, ul.program ul{
  list-style: none;
}

ul.program li{
  font-weight: bold;
}

ul.program ul li{
  font-weight: normal;
}

ul.program span{
  font-weight: normal;
}

div.snimek p span{
    padding-left: 1em;
}

@media (max-width: 675px){
  #kdykde{
    border-style: none;
  }
}

/* ========== NOVE FONTY =========== */

@font-face
{
  font-family: Comenia_Medium;
  src: url('webfonts/Comenia Sans Med.otf');
}

@font-face
{
  font-family: Comenia_Regular;
  src: url('webfonts/Comenia Sans.otf');
}

@font-face
{
  font-family: Comenia_Medium_It;
  src: url('webfonts/Comenia Sans Med It.otf');
}

@font-face
{
  font-family: Comenia_Bold;
  src: url('webfonts/Comenia Sans Bold.otf');
}

/* ========== NOVA GRAFIKA =========== */

body{
	  background: #2fb774 url(../f/bg.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
	text-shadow: none;
	color: #299762;
	font-family: Aadcarkcafe;
	font-size: 230%;
  color:black;
}


h3 {
	font-family: Aadcarkcafe;
  	font-size: 180%;
    text-align:center;
}

.fotomain img {
  width:23.4%!important;
  height:110px;
}
.fotomain {
  margin-bottom:40px;
  width:670px;
  float:left;
}

a.inpage {
	color: #1e6744;
  font-size:100%;
	text-decoration: none;
    -webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
  -moz-transition-duration: 0.5s; /*Mozilla duration version*/
  -o-transition-duration: 0.5s; /*Opera duration version*/
}

.poster {
  -webkit-transform:scale(1.0); /*Webkit: Scale down image to 0.8x original size*/
  -moz-transform:scale(1.0); /*Mozilla scale version*/
  -o-transform:scale(1.0); /*Opera scale version*/
  -webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
  -moz-transition-duration: 0.5s; /*Mozilla duration version*/
  -o-transition-duration: 0.5s; /*Opera duration version*/

}

.poster:hover {
  -webkit-transform:scale(0.9); /*Webkit: Scale up image to 1.2x original size*/
  -moz-transform:scale(0.9); /*Mozilla scale version*/
  -o-transform:scale(0.9); /*Opera scale version*/

}

a.inpage:hover{
	color: #299762;
	text-decoration: none;

}

a.inpage:active{ 
        color: #299762; 
        text-decoration: none;
        font-weight: bold;
}

a, a:active {
	color: #299762;
}

section:after {
  color: #e23a28;
}

#menu a, #cta a {
	border-radius: 0;
	box-shadow: none;
	color: #141414;
	text-align: center;
	font-family: Aadcarkcafe;
	
	font-size: 160%;
}

#menu a:hover, #cta a:hover {
	box-shadow: none;
	color: #fbfbfb;
  margin-left:20px;
}

#menu a#current{
  color: #fbfbfb;
}

#kamera {
  margin-left:140px;
  margin-top:20px;
}

header{
	text-align:center;
  background-image: url(../f/header_bg.png);	
	background-position: 100% 20%;
  height: 260px;
  overflow:visible;
  padding-bottom: 130px;
  margin-bottom: -130px;
  padding-right: 80px;
  margin-right: -80px;
  margin-left:-40px;
	background-repeat: no-repeat;
}



header img {
	height:auto!important;
  width:auto!important;  
  -webkit-transform:scale(1.0); /*Webkit: Scale down image to 0.8x original size*/
  -moz-transform:scale(1.0); /*Mozilla scale version*/
  -o-transform:scale(1.0); /*Opera scale version*/
  -webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
  -moz-transition-duration: 0.5s; /*Mozilla duration version*/
  -o-transition-duration: 0.5s; /*Opera duration version*/
  
}

header img:hover{
  -webkit-transform:scale(1.1); /*Webkit: Scale up image to 1.2x original size*/
  -moz-transform:scale(1.1); /*Mozilla scale version*/
  -o-transform:scale(1.1); /*Opera scale version*/
}

#kolo {
margin-top:-120px;
margin-left:-20px;
	height:auto!important;
  width:auto!important;  

  -webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
  -moz-transition-duration: 0.5s; /*Mozilla duration version*/
  -o-transition-duration: 0.5s; /*Opera duration version*/
}

#kolo:hover{

  transform:rotate(-30deg);
-ms-transform:rotate(-30deg); /* IE 9 */
-webkit-transform:rotate(-30deg); /* Opera, Chrome, and Safari */
}

.mainimg {
  	height:auto!important;
  width:auto!important;  

  -webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
  -moz-transition-duration: 0.5s; /*Mozilla duration version*/
  -o-transition-duration: 0.5s; /*Opera duration version*/
  }
  
.mainimg:hover {
 transform:rotate(-30deg);
-ms-transform:rotate(-30deg); /* IE 9 */
-webkit-transform:rotate(-30deg); /* Opera, Chrome, and Safari */
    
}

.fotomain img {
  border:2px solid white;
  -webkit-transition-duration: 0.5s; /*Webkit: Animation duration*/
  -moz-transition-duration: 0.5s; /*Mozilla duration version*/
  -o-transition-duration: 0.5s; /*Opera duration version*/
}

.fotomain img:hover {
    -webkit-transform:scale(0.9); /*Webkit: Scale up image to 1.2x original size*/
  -moz-transform:scale(0.9); /*Mozilla scale version*/
  -o-transform:scale(0.9); /*Opera scale version*/
}



div#header{
  	text-align:center;
  background-image: url(../f/header_bg.png);	
	background-position: 100% 20%;
  height: 260px;
  overflow:visible;
  padding-bottom: 130px;
  margin-bottom: -130px;
  padding-right: 80px;
  margin-right: -80px;
  margin-left:-40px;
	background-repeat: no-repeat;
}

#lemma {
  padding-top: 0.2em;
  padding-left: 0.2em;
  height: 1.5em;
  line-height: 1.1em;
  color: #141414;
  position: absolute;
  top:0;
  font-size: 85%;
  font-family: Comenia_Medium_It;
}

header a, div#header a {
  color: #141414;
}

h1#fffi, div#fffi {
  transform: rotate(-9deg);
  -ms-transform: rotate(-9deg);
  -webkit-transform: rotate(-9deg);
  -o-transform: rotate(-9deg);
  -moz-transform: rotate(-9deg);
  font-size: 65%;
  margin-top: 0;
  top: -2.5em;
  line-height: 2.7em;
}

#fffi_ie{
  padding-left: 1em;
  padding-top: 2em;
  font-size: 95%;
  color: #e23a28;
}

#fffi_ie a{
  color: #e23a28;
  display: block;
}

#fffi_ie a span#filmovy, #fffi_ie a span#fakulty{
  color: #fbfbfb;
}

#fffi a{
  text-shadow: none;
  color: #141414;
  font-family: Comenia_Medium_It;
  text-transform: uppercase;
}

#fffi a span#rocnik, #fffi_ie a span#rocnik{
  color: #e23a28;
  display: inline;
}

#fffi a span#filmovy{
  margin-left: 1em;
}

#fffi a span#festival{
  display: block;
  margin-left: 6em;
}

#fffi a span#fakulty{
  margin-left: 9.8em;
  display: block;
}

#fffi a span#informatiky{
  margin-left: 13.7em;
  display: block;
}

header div#tema, div#header div#tema{
  display: block;
  position: absolute;
  bottom: 2em;
  left: 2em;
  padding: 0.2em;
  color: #fbfbfb;
  font-family: Comenia_Regular;
  text-transform: uppercase;
  font-size: 125%;
}

#kdykde {
  top:5.5em;
  right:-2em;
  text-align: left;
  width: 11em;
  border-style: none;
  text-shadow: none;
  text-transform: uppercase;
  font-size: 115%;
  padding-right: 0.2em;
  padding-left: 0.2em;
  color: #fbfbfb;
}

#kdykde a{
  color: #fbfbfb;
}

#kdykde span#kde a{
  font-family: Comenia_Medium;
  color: #fbfbfb;
}

#kdykde #kdy, #kdykde #zac{
  color: #e23a28;
}

#kdykde #kdy, #kdykde #otv, #kdykde #pro{
  line-height: 0.9em;
}

#kdykde #otv, #kdykde #pro{
  font-family: Comenia_Medium;
  font-size: 115%;
}

#kdykde #zac{
  padding-top: 0.3em;
}

#kdykde #zac, #kdykde #kdy{
  font-family: Comenia_Bold;
}

#kdykde.ie{
  top:1em;
  right:0;
  font-size: 115%;
  padding-right: 0.2em;
  padding-left: 0.2em;
  color: #fbfbfb;
}

div.foto {
  background-color: inherit;
  width:670px;
  border-radius: 0;
  box-shadow: none;
  padding: 1em 0.2em 0.7em 0.2em;
}

div.foto a img {
	border: 1px solid #2bb673;
}

div.foto a:hover img {
  border: 1px solid #fbfbfb;
}

ul.partner li {
  background-color: inherit;
  border-radius: 0;
  border-style: none;
  border-width: 0.2em;
  box-shadow: none;
  color: #fbfbfb;
  margin-bottom: 2em;
}

ul.partner li div span.meno {
	font-family: Comenia_Medium;
	font-size: 115%;
	color: #2bb673;
}

#events {
	top: 16.8em;
	left: 0px;
}

#events #fb{
	width: 40px;
	height: 40px;
	background-image: url(buttons/facebook.jpg);
}

div#cont {
  padding-right: 1em;
}

div.ann{
  border: 2px solid #fbfbfb;
  font-size: 180%;
  margin: 3em 0 3em 0;
  padding: 0.3em;
  text-align: center;
  color: #e23a28;
  text-transform: uppercase;
  font-family: Comenia_Regular;
}

div.building{
  float: right;
  padding-top: 5em;
  position: absolute;
  top:0;
  right: 0;
}

div.miesto{
  margin-right: 20em;
  padding-bottom: 2em;
}

div.snimek_foto img{
  border-color: #eceae21;
}

.program a{
    color: #2bb673;
    text-decoration: none;
}

.program a:hover{
    font-weight: bolder;
}

.sutazne a, .sutazne{
  color: #2bb673;
}

ul.program ul.sutazne span{
  color: #fbfbfb;
}

h4{
    font-size: 120%;
}

.porota ul{
    margin: 0;
}

.porota h4{
    margin-top: 1em;
    margin-bottom: 0.5em;
}

section ol{
    max-width: 23em;
    padding-left: 3em;
    list-style-type: decimal;
}

section ol span{
    float: right;
    margin: 0;
}

.border1, .border2 {
	padding: 5px 10px 20px 20px;
	margin: 0px 0px 0px 10px;
	text-align: left;
	background-color: #86ca8d;
	line-height: 1.3em;
	text-indent:0;
}
.border2 {
	background-color: #2bb673;
}
.border1 object, .border2 object{
  position:relative;
  left:-18px;
  margin:10px 0 0 0;
}

.border1 img, .border2 img {
	margin: 5px 0px 5px 10px;
	padding: 2px;
	float: right;
	}

.border1 a, .border2 a {
  color:white;
  text-decoration:none;
}

