.fotogalerie{
  width:580px;
  float:left;
  margin:20px 0 50px 0;
}
.fotogalerie a{margin:0; padding:15px 0; float:left; width:170px; height:100px; overflow:hidden; margin:10px; border:1px solid rgb(100,100,100);  background:rgb(20,20,20); text-align:center;}
.fotogalerie a img{margin:0 0 0 -28px; height:100px; float:none; }
