body	{
	margin: 0; padding: 0;
	font-family: "Verdana CE", "Arial CE", "Lucida Grande CE", "Helvetica CE", Verdana, Arial, lucida, sans-serif; 
	font-size : small;
	color : #ffffff;
	background-color : #000000;
	margin-bottom: 1em;
}

a:link	{
	text-decoration: underline;
	color: #999999;
}
a:hover	{
	color: #FFFFCC;
}
a:visited	{
	color: #999999;
}

.hidden	{
	display: none;
}

#global	{
	position: relative;
	margin: 0; padding: 0;
	margin-left: 10%; margin-right: 10%;
	padding-bottom: 1em;
}

span.first	{
		font-size: 130%;
		margin: 0; padding: 0;
}

#nadpis	{
	font-family: "Times New Roman CE", "Times New CE", "Times CE", "Times New Roman", Times, serif;
	margin: 0; padding: 0;
}
	#nadpis h1	{
		text-align: center;
		margin: 0; padding: 0;
		font-size: 300%;
		font-weight: normal;
		border-bottom: 1px solid #eeeeee;
	}

#menu	{
	text-align: center;
	margin: 0; padding: 0;
	padding-left: 3em; padding-right: 3em; padding-top: 0.3em; padding-bottom: 0.3em;
	font-weight: bolder;
	border-bottom: 1px solid #eeeeee;
	height: 1.2em;
}
	#menu p	{
		/*line-height: 100%;*/
		margin: 0; padding: 0;
	}
	#menu a:hover	{
	color: #FFFFCC;
	}

#main	{
	margin: 0; padding: 0;
}
	#main p	{
		text-indent: 1em;
		line-height: 1.3em;
		margin: 0;
		margin-bottom: 1em;
		/*border: 1px solid yellow;*/
	}
	#main h2	{
		font-family: "Times New Roman CE", "Times New CE", "Times CE", "Times New Roman", Times, serif;
		font-size: 150%;
		font-weight: normal;
		padding-top: 1em; padding-bottom: 0.5em;
		margin: 0;
		clear: both;
		/*border: 1px solid red;*/
	}
	#main a:hover	{
		color: #FFFFCC;
	}
	#main .blog	{
		position: relative;
		font-size: 80%;
		margin-bottom: 1em;
		margin-top: 1em;
		padding: 0.5em;
		border: 1px solid #666666;
		width: 97%;
		clear: both;
	}
	#main .blog h3.nadpis	{
		position: absolute; left: -1px; top: -1.1em;
		font-family: "Times New Roman CE", "Times New CE", "Times CE", "Times New Roman", Times, serif;
		font-size: 140%;
		width: 25em;
		font-weight: normal;
		margin: 0; padding: 0;
		padding-left: 1em;
		background: #666666;
		/*padding-top: 1em; padding-bottom: 0;*/
	}
	#main .blog div.blogspodek	{
		text-align: right;
		font-style: italic;
		padding-right: 2em;
	}
	#main .blog p.fotky	{
		vertical-align: bottom;
	}
	#main .blog p.fotky img	{
		margin: 4px;
	}
	#main h3	{
		margin: 0; padding: 0;
		margin-top: 1em; margin-bottom: 0.4em;
		font-size: 110%;
	}

#bottom	{
	border-top: 1px solid #eeeeee;
	padding-left: 10%; padding-right: 10%; 	padding-top: 2em;
	margin-top: 2em;
	font-size: 80%;
	color: #999999;
}
	#bottom .rating	{
		/*padding-left: 260px;*/
		margin: 0;
	}
	#bottom .rating span.img	{
		float: left;
		width: 250px;
		height: 46px;
		background-image: url("img/nc-17.png");
		background-position: 0 0;
		background-repeat: no-repeat;
		margin-right: 0.5em;
	}

div.pdf	{
	position: relative; top: 0; left: 0;
	font-style: italic;
	/*border: 1px dotted pink;*/
	height: 40px;
	white-space: nowrap;
}
	div.pdf span.img	{
		display: block;
		position: absolute; top: 0; right: 0;
		height: 34px;
		background-image: url("img/ico_pdf.gif");
		background-position: 0 0;
		background-repeat: no-repeat;
		padding-left: 40px;
		/*border: 1px dashed red;*/
	}